name: Vividarts docker image build
on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v2

            -   name: Buid Docker image
                run: docker image build -t calebyeboah/vividarts:3.0 .
                       
            -   name: Login to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            -   name: push image to Docker Hub
                run: docker push calebyeboah/vividarts:3.0
            

